[alias]
  ci = commit
  br = branch
  co = checkout
  df = diff
  st = status -b -s
  last = log -1 HEAD
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  testmerge = merge --no-commit --no-ff
  unstage = reset HEAD
  startover = !git reset --hard HEAD && git clean -f -d -x
  debranch = "!git branch --merged | grep  -v '\\*\\|master\\|develop' | xargs -n 1 git branch -d"
[core]
  autocrlf = input
[push]
  default = simple